<template>
    <!-- Login -->
    	<div class="login-container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="/images/lock-sign-icon.jpg" class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form>
						<!-- IF ANY ERROR -->
						<div class="input-group mb-3" v-if="formErrors"> 
							<span class="text-danger bg-white" v-for="InputError in formErrors" v-html="InputError[0]"> </span>
						</div>

						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-user"></i></span>
							</div>
							<input type="text" name="username" class="form-control input_user" value=""  v-model="register.username" placeholder="Username / Email">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-key"></i></span>
							</div>
							<input type="password" name="password" class="form-control input_pass" value="" v-model="register.password" placeholder="password">
						</div>
						<!-- <div class="form-group" v-if="1==2">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="customControlInline">
								<label class="custom-control-label" for="customControlInline">Remember me</label>
							</div>
						</div> -->
						<div class="d-flex justify-content-center mt-3 login_container">
							<button type="button" name="button" class="btn login_btn" v-on:click="loginsubmit()">Login</button>
						</div>
					</form>
				</div>
		
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Don't have an account? <router-link to="register" class="ml-2">Register</router-link>
					</div> 
				</div>
			</div>
		</div>
	</div>
    <!-- Login -->
</template>


<script>
    export default {
		name: 'login',
		data: function () {
			return {
				register:{
							username : 'sarath@gmail.com',
							password : '1234',
				},
				formErrors: []
			}
		},  
        mounted() {
			console.log('Login Component mounted.');
			
			//IF LOGED IN REDIRECT TO HOME PAGE
			if(sessionStorage.getItem('user')){ 
				this.$router.push('home'); 
			}
		},
		methods: { 
			
			loginsubmit: function(){

				let self = this; 
				let formdata = new FormData();    

				var basicAuth = btoa(self.register.username + ':' + self.register.password);
				formdata.append('auth', basicAuth ); 
		  

				axios.post('/api/usercurd/checklogin',formdata)
				.then(response => {
					 
					if(typeof response.data.errors != 'undefined'){
						self.formErrors = response.data.errors; 
					}else{
						//alert("Loged in Successfully....!"); 
						 
						//SAVE TOKEN IN THE SESSION STORAGE
						sessionStorage.setItem('user',JSON.stringify(response.data));
						
						//Redirecting TO THE HOME PAGE
						self.$router.push('home');   
					}
				})
				.catch(error => {
					console.log(error); 
				});
			}
		}
    }
</script> 




<style scoped>
	/* Coded with love by Mutiullah Samim */
		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #60a3bc !important;
		} 

		body {
			background: #007bff;
			background: linear-gradient(to right, #f0f6fe, #96d5ff);
		}

		.login-container{
			padding: 13%;
		}
        
		.user_card {
			height: 400px;
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: #f39c12;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
		.brand_logo_container {
			position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;
			border-radius: 50%;
			background: #60a3bc;
			padding: 10px;
			text-align: center;
		}
		.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
		}
		.form_container {
			margin-top: 100px;
		}
		.login_btn {
			width: 100%;
			background: #c0392b !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #c0392b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: #c0392b !important;
		}
</style>

