<template>
    <!-- Login -->
    	<div class="login-container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center" >
					<div class="brand_logo_container">
						<input type="file" id="profile-img" @change="selectimages($event)"/>
						<label for="profile-img" class="btn-1" tabindex="Upload Profile Image"> 
							<img :src="profileImagepath" class="brand_logo" alt="Logo">
							<!-- <img v-if="imageUploaded == true" :src="register.images" id="UploadedImage" class="brand_logo" alt="Logo"> -->
						</label>
					</div>
				</div>

				<div class="d-flex justify-content-center form_container">    

					<form>
						<div class="input-group mb-3" v-if="formErrors"> 
							<span class="text-danger bg-white" v-for="(InputError, index ) in formErrors" :key="index" v-html="InputError[0]"> </span>
						</div>

						<div class="input-group mb-3"> 
							<input type="text" name="name" class="form-control input_user" v-model="register.name" placeholder="Enter your Name">
						</div>
						<div class="input-group mb-3"> 
							<input type="email" name="email" class="form-control input_user" v-model="register.email" placeholder="Enter your Email ID">
						</div>
						<div class="input-group mb-3"> 
							<input type="number" name="mobile" class="form-control input_user" v-model="register.mobile" placeholder="Enter your Mobile No">
						</div>
						<!-- <div class="input-group mb-3"> 
							<input type="text" name="username" class="form-control input_user" v-model="register.username" placeholder="Username">
						</div>
						<div class="input-group mb-2"> 
							<input type="password" name="password" class="form-control input_pass" v-model="register.password" placeholder="Password">
						</div> 
						<div class="input-group mb-2"> 
							<input type="password" name="password_confirmation" class="form-control input_pass" v-model="register.password_confirmation" placeholder="Confirmed Password">
						</div>  -->
						<div class="d-flex justify-content-center mt-3 login_container">
							<button type="button" name="register" class="btn login_btn" v-on:click="submitForm()">Save Changes</button>
						</div>
					</form>
				</div> 

			</div>
		</div>
	</div>
    <!-- Login -->
</template>


<script>
   
   import axios from 'axios';

    export default {
		name: 'login',
		data: function () {
			return {
				register:{
							name : 'Sarath',
							email : 'sarath@gmail.com',
							mobile : '9947084069',
							images : '',
							// username : 'sarath',
							// password : '12345678',
							// password_confirmation : '12345678'
						},
				formErrors: [],
				profileImagepath:'',
				imageUploaded:false,
			    User    : JSON.parse(sessionStorage.getItem('user')),
			}
		},  
        mounted() { 
			
			//IF LOGED IN REDIRECT TO BLOG PAGE
			if(!sessionStorage.getItem('user')){
				this.$router.push('/login'); 
			}

			//GET USER PROFILE DATA
			this.getUserData();

		},
		methods: {
		  getimagepath: function(){ 
			  let self     = this;  
			
			if(self.imageUploaded == false && self.register.images == ''){
				self.profileImagepath =  '/images/profile/reg-icon.jpg';
			}else if(self.imageUploaded == true && self.register.images.length>=1){
				self.profileImagepath =  self.register.images;
			}else{
				self.profileImagepath =  '/images/profile/'+self.register.images;
			}
		  }, 
		  getUserData: function(){

			let self     = this; 
			let formdata = new FormData();    
			let User     = JSON.parse(sessionStorage.getItem('user')); 
   

			axios.get('/api/usercurd/show/'+User.id,formdata)
				.then(response => {
						
					if(typeof response.data.errors != 'undefined'){
						self.formErrors = response.data.errors; 
					}else{
						//alert("USER DATA in Successfully....!"); 
						let UserData  = response.data;   
						self.register = {
							name : UserData.name,
							email : UserData.email,
							mobile : UserData.mobile,
							images : UserData.images,
							// username : UserData.username,
							// password : UserData.password,
							// password_confirmation : UserData.password
						}

						

						//GET PROFILE IMAGE PATH 
						self.getimagepath();
						
						
						//UPDATING PROFILE IMAGE IN SESSION ARRAY
						User.images = UserData.images;
						sessionStorage.setItem('user',JSON.stringify(User)); 
						
					}
				})
				.catch(error => {
					console.log(error); 
				});
		  }, 
			
          selectimages: function(e){
             
            let self       = this;
            let filereader = new FileReader();

            filereader.readAsDataURL(e.target.files[0]);

            filereader.onload = (e) => {
			   self.imageUploaded   = true;
			   self.register.images = e.target.result; 
			   self.getimagepath();
            }
               
          },
			submitForm: function () {
				let self = this; 
				
				self.storeuserdata(); 
			}, 
			storeuserdata: function(){
				
				let self = this;
				
				let formdata = new FormData();   
				let registerData = self.register;

				for (let index in registerData) { 
					formdata.append(index, registerData[index]);
				}

				//APPEND PROFILE IMAGE
				if(self.imageUploaded == true && typeof self.register.images !== undefined){
					formdata.append('images', self.register.images);
				}

				axios.post('/api/usercurd/update/'+self.User.id,formdata)
				.then(response => {
					 
					if(typeof response.data.errors != 'undefined'){
						self.formErrors = response.data.errors;
						//console.log("Response Data : ",response.data.errors);
					}else{ 
						
						//Redirecting TO THE HOME PAGE
						self.$router.push('home'); 
					}
				})
				.catch(error => {
					console.log(error);
				});
			}
		}
    }
</script> 




<style scoped>
	/* Coded with love by Mutiullah Samim */
		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #60a3bc !important;
		} 

		body {
			background: #007bff;
			background: linear-gradient(to right, #f0f6fe, #96d5ff);
		}

		.login-container{
			padding: 13%;
   		 	padding-bottom: 5%;
		}
		.brand_logo_container label{
			margin-top: -26px;
		}
		.brand_logo_container input[type='file']{
			opacity: 0;
			margin: 0px;
			padding: 0px;
			height: 1px;
			max-height: 0px;
		}
        
		.user_card {
			height: 550px;
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: #fff;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
		.brand_logo_container {
			position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;
			border-radius: 50%;
			background: #60a3bc;
			padding: 10px;
			text-align: center;
		}
		.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
		}
		.form_container {
			margin-top: 15px;
		}
		.login_btn {
			width: 100%;
			background: #c0392b !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #c0392b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: #c0392b !important;
		}
</style>

