<template>
    <!-- Login -->
    	<div class="login-container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center" >
					<div class="brand_logo_container">
						<img src="/images/reg-icon.jpg" class="brand_logo" alt="Logo">
					</div>
				</div>

				<div class="d-flex justify-content-center form_container">    

					<form>
						<div class="input-group mb-3" v-if="formErrors"> 
							<span class="text-danger bg-white" v-for="InputError in formErrors" v-html="InputError[0]"> </span>
						</div>
						<div class="input-group mb-3"> 
							<input type="text" name="name" class="form-control input_user" v-model="register.name" placeholder="Enter your Name">
						</div>
						<div class="input-group mb-3"> 
							<input type="email" name="email" class="form-control input_user" v-model="register.email" placeholder="Enter your Email ID">
						</div>
						<div class="input-group mb-3"> 
							<input type="number" name="mobile" class="form-control input_user" v-model="register.mobile" placeholder="Enter your Mobile No">
						</div>
						<div class="input-group mb-3"> 
							<input type="text" name="username" class="form-control input_user" v-model="register.username" placeholder="Username">
						</div>
						<div class="input-group mb-2"> 
							<input type="password" name="password" class="form-control input_pass" v-model="register.password" placeholder="Password">
						</div> 
						<div class="input-group mb-2"> 
							<input type="password" name="password_confirmation" class="form-control input_pass" v-model="register.password_confirmation" placeholder="Confirmed Password">
						</div> 
						<div class="d-flex justify-content-center mt-3 login_container">
							<button type="button" name="register" class="btn login_btn" v-on:click="submitForm()">Register</button>
						</div>
					</form>
				</div>
		
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Do have an account? <router-link to="login" class="ml-2">Login</router-link>
					</div> 
				</div>
			</div>
		</div>
	</div>
    <!-- Login -->
</template>


<script>
   
   import axios from 'axios';

    export default {
		name: 'login',
		data: function () {
			return {
				register:{
							name : 'Sarath',
							email : 'sarath@gmail.com',
							mobile : '9947084069',
							username : 'sarath',
							password : '12345678',
							password_confirmation : '12345678'
						},
				formErrors: []
			}
		},  
        mounted() {
			console.log('Login Component mounted.');
			
			//IF LOGED IN REDIRECT TO BLOG PAGE
			if(sessionStorage.getItem('user')){
				this.$router.push('home'); 
			}

		},
		methods: {
			submitForm: function () {
				let self = this;
				console.log("SUBMITED");
				
				self.storeuserdata();
				self.login();
			},
			login: function(){
				let self = this;
				console.log("Loged IN :-)");
			},
			storeuserdata: function(){
				
				let self = this;
				console.log("Loged IN :-)");
				let formdata = new FormData();   
				let registerData = self.register;

				for (let index in registerData) { 
					formdata.append(index, registerData[index]);
				}
		  

				axios.post('/api/usercurd/store',formdata)
				.then(response => {
					//console.log(typeof response.data.errors);
					if(typeof response.data.errors != 'undefined'){
						self.formErrors = response.data.errors;
						//console.log("Response Data : ",response.data.errors);
					}else{
						//alert("Registration Done Successfully....!");

						//SAVE TOKEN IN THE SESSION STORAGE
						sessionStoragetItem('user',JSON.stringify(response.data));
						
						//Redirecting TO THE HOME PAGE
						self.$router.push('home'); 
					}
				})
				.catch(error => {
					console.log(error);
				});
			}
		}
    }
</script> 




<style scoped>
	/* Coded with love by Mutiullah Samim */
		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #60a3bc !important;
		} 

		body {
			background: #007bff;
			background: linear-gradient(to right, #f0f6fe, #96d5ff);
		}

		.login-container{
			padding: 13%;
   		 	padding-bottom: 5%;
		}
        
		.user_card {
			height: 550px;
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: #f39c12;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
		.brand_logo_container {
			position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;
			border-radius: 50%;
			background: #60a3bc;
			padding: 10px;
			text-align: center;
		}
		.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
		}
		.form_container {
			margin-top: 15px;
		}
		.login_btn {
			width: 100%;
			background: #c0392b !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #c0392b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: #c0392b !important;
		}
</style>

