<template>
    <div id="main"> 
       
        <Header v-show="Checkbeforelogin()"></header>
        
        <div class="container">  
             <router-view></router-view>   
        </div>

        <Footer v-show="Checkbeforelogin()"></Footer>

    </div>
</template>

<script>
    
    import Header from './common/Header.vue'; 
    import Footer from './common/Footer.vue';

    export default {
        name : 'main-app',
        components:{
            Header,
            Footer
        },
        mounted() {
            //console.log('Main Component mounted.');  
        },
        methods: {
            Checkbeforelogin: function(){
                let self = this;  

                if(['login', 'register'].indexOf(self.$route.name) > -1){
                    return false
                }

                return true;
            }
        }
    }
</script>

<style scoped>
    footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #4e4e4e;
        color: white;
        text-align: center;
    }
</style>
