<template>
    <!-- START --> 
    <div class="form-comments">
      <div class="title-box-2">
        <h3 class="title-a">
          Create Blog
        </h3>
      </div>
      <form class="form-mf">
        <div class="row">
          
          <div class="col-md-6 mb-3" v-show="formErrors.lenght >= 1 || formErrors.formMsg >= 1">
            <div class="form-group">
              <span class="text-danger alert alert-danger" v-html="formErrors"></span>
              <span class="text-danger alert alert-danger" v-html="formMsg"></span>
            </div>
          </div>

          <div class="col-md-12 mb-3">
            <div class="form-group">
              <input type="text" class="form-control input-mf" id="title" v-model="blogdata.title" placeholder="Title *" required="">
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <div class="form-group">
              <textarea id="textMessage" class="form-control input-mf" placeholder="Comment *" name="description" v-model="blogdata.description" cols="45" rows="8" required=""></textarea>
            </div>
          </div>
          
          <div class="col-md-12 mb-3">
            <div class="form-group">
              <input type="file" multiple class="form-control input-mf" id="images" name="images[]" @change="selectimages($event)" placeholder="Images *" required="">
            </div>
          </div> 
          <div class="col-md-12">
            <button type="button" class="btn btn-success btn-lg pull-right" @click="storeuserdata()"> <span class="fa fa-save"></span> Create</button>
          </div>
        </div>
      </form>
    </div> 
    <!-- HoENDSme -->
</template>

<script>
    export default {
        name: 'Addblog', 
        data: function () {
              return {
                blogdata:{
                      title : '',
                      description:'',
                      images:'', 
                      userdata:'',
                }, 
                formErrors:'',
                formMsg:'',
              }
        },
        mounted() {
            //console.log('Blog Comments Component mounted. 1');
            console.log(sessionStorage.getItem('user')); 
            
            //IF NOT LOGED IN REDIRECT TO LOGIN PAGE
            if(!sessionStorage.getItem('user')){
              this.$router.push('login'); 
            } 
        },

        methods: {
          selectimages: function(e){
             
            let self       = this;
            let filereader = new FileReader();

            filereader.readAsDataURL(e.target.files[0]);

            filereader.onload = (e) => {
               self.blogdata.images = e.target.result; 
            }
               
          },  
          storeuserdata: function(){
            
              let self = this;
               
              let formdata = new FormData();   
              let blogdata = self.blogdata;

              for (let index in blogdata) { 
                formdata.append(index, blogdata[index]);
              }

              if(self.blogdata.images.length >= 1){
                formdata.append('images', self.blogdata.images);
              }
              
              if(sessionStorage.getItem('user')){
                self.blogdata.userdata = sessionStorage.getItem('user'); 
                formdata.append('userdata', self.blogdata.userdata);
              }

              //console.log(self.blogdata);
            

              axios.post('/api/blogcurd/store',formdata)
              .then(response => {
                 
                if(typeof response.data.errors != 'undefined'){
                  self.formErrors = response.data.errors; 
                }else{
                  //alert("Registration Done Successfully....!");

                  self.formMsg = 'Blog Created Successfully.....!';
 
                  //Redirecting TO THE HOME PAGE
                  self.$router.push('bloglist'); 
                }
              })
              .catch(error => {
                console.log(error);
              });
            }
          
        }
         

    }
</script> 

<style scoped>
  .form-comments{padding: 50px;}
  .title-a{margin-bottom: 50px;}
</style>
