<template>
    <!-- Home -->
    <div class="container">
        
       <section>

        <div class="row">

        <!-- LEFT DETAILS BOX -->
        <div class="col-md-8">

          <!-- BLOG DETAILS -->  
          <div class="post-box">
            <div class="post-thumb"> 
              <img v-if="BlogData.images" :src="'/images/blog/'+getimagename(BlogData.images)" class="img-fluid" alt="">
            </div>
            <div class="post-meta">
              <h1 class="article-title" v-html="BlogData.title"> <!-- TITLE --> </h1>
              <ul>
                <li>
                  <span class="ion-ios-person"></span>
                  <a href="#" v-html="BlogData.tags"> <!-- TAGS --> </a>
                </li> 
              </ul>
            </div>
            <div class="article-content" v-html="BlogData.description">
               <!-- description -->
            </div>
          </div>
          <!-- BLOG DEATILS ENDS HERE -->

          <!-- COMMENTS SECTION --> 
          <Blogcomments :blogData="BlogData"></Blogcomments>

          <!-- COMMENTS FORM SECTION --> 
          <Blogcommentsform :blogData="BlogData"></Blogcommentsform>
        

        </div>

        <!-- RIGHT SIDE -->
        <div class="col-md-4">
          <div class="widget-sidebar sidebar-search" v-show="1==2">
            <h5 class="sidebar-title">Search</h5>
            <div class="sidebar-content">
              <form>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary btn-search" type="button">
                      <span class="ion-android-search"></span>
                    </button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <div class="widget-sidebar" v-show="RecentBlogData.length">
            <h5 class="sidebar-title">Recent Post</h5>
            <div class="sidebar-content">
              <ul class="list-sidebar">
                <li v-for="(RecentBlog, index) in RecentBlogData" :key="index">
                  <router-link :to="'/blogdetails/'+RecentBlog.id" v-html="RecentBlog.title" ></router-link>
                  <!-- <button v-html="RecentBlog.title" @click="blogID=RecentBlog.id,getBlogdetails()"></button> -->
                </li> 
              </ul>
            </div>
          </div>
          <div class="widget-sidebar"  v-show="1==2">
            <h5 class="sidebar-title">Archives</h5>
            <div class="sidebar-content">
              <ul class="list-sidebar">
                <li>
                  <a href="#">September, 2017.</a>
                </li>
                <li>
                  <a href="#">April, 2017.</a>
                </li>
                <li>
                  <a href="#">Nam quo autem exercitationem.</a>
                </li>
                <li>
                  <a href="#">Atque placeat maiores nam quo autem</a>
                </li>
                <li>
                  <a href="#">Nam quo autem exercitationem.</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="widget-sidebar widget-tags"  v-show="1==2">
            <h5 class="sidebar-title">Tags</h5>
            <div class="sidebar-content">
              <ul>
                <li>
                  <a href="#">Web.</a>
                </li>
                <li>
                  <a href="#">Design.</a>
                </li>
                <li>
                  <a href="#">Travel.</a>
                </li>
                <li>
                  <a href="#">Photoshop</a>
                </li>
                <li>
                  <a href="#">Corel Draw</a>
                </li>
                <li>
                  <a href="#">JavaScript</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

       </section>

    </div>
    <!-- Home -->
</template>

<script>
    
import Blogcomments  from './Blogcomments.vue'; 
import Blogcommentsform  from './Blogcommentsform.vue';

    export default {
        name: 'blogdetails',  
        data: function () {
          return {
            BlogData:[],
            RecentBlogData:[],
            blogID:'',
          }
        },
        mounted() { 
            let self = this; 

            //IF NOT LOGED IN REDIRECT TO LOGIN PAGE
            if(!sessionStorage.getItem('user')){
              self.$router.replace('/login'); 
            }

            //GETTING BLOG ID FROM REQUEST
            self.blogID = self.$route.params.id;

            //CALLING THE BLOG DETAILS FUNCTION
            self.getBlogdetails();

            //CALLING THE RECENT-BLOGS FUNCTION
            self.recentBlogs();

        },
        watch: {
          '$route' (to, from) {
            let self = this;
            self.blogID = self.$route.params.id;
            self.getBlogdetails();
          }
        }, 
        methods:{

          getimagename: function(img){  
            if(typeof img !== 'undefined'){
              let imagename = img.slice(1, -1); 
              return imagename;
            }
          },
          getBlogdetails: function(){
            
              let self   = this; 
              let blogID = self.blogID; 
              

              //GET LIST OF BLOGS FROM BACKED
              axios.get('/api/blogcurd/show/'+blogID)
              .then(response => { 
                  
                if(typeof response.data.errors != 'undefined'){
                  self.formErrors = response.data.errors; 
                }else{
                    //console.log(response.data);
                    self.BlogData = response.data;  
                }
              })
              .catch(error => {
                console.log(error); 
              });

          },
          recentBlogs: function(){
            
              let self = this; 

              //GET LIST OF BLOGS FROM BACKED
              axios.get('/api/blogcurd/',{
                params:{
                  ordeby:'desc',
                }
              })
              .then(response => { 
                  
                if(typeof response.data.errors != 'undefined'){
                  self.formErrors = response.data.errors; 
                }else{
                    console.log(response.data.data);
                    self.RecentBlogData = response.data.data;  
                }
              })
              .catch(error => {
                console.log(error); 
              }); 
          }
        },
        components:{
          Blogcomments,
          Blogcommentsform
        }
        

    }
</script>  


<style scoped>
@media (min-width: 768px){
  .post-box, .form-comments, .box-comments, .widget-sidebar {
        padding: 3rem;
        background-color: #fff;
        margin-bottom: 3rem;
  }
} 
    .widget-sidebar {
      padding: 5px !important;
    }
    section{
      padding-top:50px;
      padding-bottom: 70px;
    }
    .container{
      margin-bottom: 70px;
    }
    .list-sidebar li{
      line-height: 2;
    }
</style>
