<template>
    <!-- bloglist --> 
        <div class="form-comments">
            <div class="title-box-2">
              <h3 class="title-left">
                Leave a Reply
              </h3>
            </div>
            <form class="form-mf">
              <div class="row"> 
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <input type="url" class="form-control input-mf" id="inputUrl" placeholder="TItle">
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <textarea id="textMessage" class="form-control input-mf" placeholder="Comment *" name="message" cols="45" rows="8" required=""></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <button type="submit" class="button button-a button-big button-rouded pull-right">Submit</button>
                </div>
              </div>
            </form>
          </div> 
    <!-- bloglist -->
</template>

<script>
    export default {
        name: 'blogcommentsform', 
        props: ['blogData'],
        mounted() { 
            //console.log(this.blogData);
            //IF NOT LOGED IN REDIRECT TO LOGIN PAGE
            if(!sessionStorage.getItem('user')){
              this.$router.push('login'); 
            }

        },
        methods:{
          getimagename: function(img){
            if(typeof img !== 'undefined'){
              let imagename = img.slice(1, -1); 
              return imagename;
            }
          }
        }
    }
</script> 

<style scoped>
@media (min-width: 768px){
  .post-box, .form-comments, .box-comments, .widget-sidebar {
        padding: 3rem;
        background-color: #fff;
        margin-bottom: 3rem;
  }
}
.post-box, .form-comments, .box-comments, .widget-sidebar {
    padding: 2rem;
    background-color: #fff;
    margin-bottom: 3rem;
}
.title-box-2 {
    margin-bottom: 3rem;
}
.title-left {
    font-size: 2rem;
    position: relative;
}
.title-left:before {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
}
.button-rouded {
    border-radius: 5rem;
}
.button-big {
    padding: .9rem 2.3rem;
    font-size: 1.2rem;
}
.button-a {
    background-color: #0078ff;
    color: #fff;
    border-color: #cde1f8;
}
</style>
