<template>
    <!-- bloglist --> 
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <router-link :to="'blogdetails/'+blogData.id">
                <img :src="'/images/blog/'+getimagename(blogData.images)" alt="" class="img-fluid" />
              </router-link>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category" v-html="blogData.tags">Travel</h6>
                </div>
              </div>
              <h3 class="card-title"><router-link :to="'blogdetails/'+blogData.id" v-html="blogData.title">See more ideas about Travel</router-link></h3>
              <p class="card-description" v-html="blogData.description">
                Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Praesent sapien massa, convallis
                a pellentesque nec,
                egestas non nisi.
              </p>
            </div>
            <div class="card-footer">
              <div class="post-author">
                <a href="#">
                  <img src="https://bootstrapmade.com/demo/themes/DevFolio/img/testimonial-2.jpg" alt="" class="avatar rounded-circle">
                  <span class="author">Morgan Freeman</span>
                </a>
              </div>
              <div class="post-date">
                <span class="ion-ios-clock-outline"></span> {{blogData.created_at}}
              </div>
            </div>
          </div>
        </div> 
    <!-- bloglist -->
</template>

<script>
    export default {
        name: 'bloglist', 
        props: ['blogData'],
        mounted() { 
            //console.log(this.blogData);
            //IF NOT LOGED IN REDIRECT TO LOGIN PAGE
            if(!sessionStorage.getItem('user')){
              this.$router.push('login'); 
            }

        },
        methods:{
          getimagename: function(img){
            if(typeof img !== 'undefined'){
              let imagename = img.slice(1, -1); 
              return imagename;
            }
          }
        }
    }
</script> 

<style scoped>
    .btn-add-new{
     margin: 20px auto; 
    }
    .title-box {
        margin-bottom: 4rem;
    }
    .title-a {
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    .line-mf {
        width: 40px;
        height: 5px;
        background-color: #0078ff;
        margin: 0 auto;
    }
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }
    .card-img {
        width: 100%;
        border-radius: calc(.25rem - 1px);
    }
    .img-fluid {
        max-width: 100%;
        height: auto;
        max-height: 203px;
        height: 203px;
        object-fit: cover;
        min-width: 100%;
    }

    img {
        vertical-align: middle;
        border-style: none;
    } 

    .card-blog .card-body {
        position: relative;
    }
    .card-blog .card-category-box {
        position: absolute;
        text-align: center;
        top: -16px;
        left: 15px;
        right: 15px;
        line-height: 25px;
        overflow: hidden;
    }
    .card-blog .card-category {
        display: inline-block;
        color: #fff;
        padding: 0 15px 5px;
        overflow: hidden;
        background-color: #0078ff;
        border-radius: 4px;
    }
    .card-blog .card-category .category {
        color: #fff;
        display: inline-block;
        text-transform: uppercase;
        font-size: .7rem;
        letter-spacing: .1px;
        margin-bottom: 0;
    } 
    .card-title {
        margin-bottom: .75rem;
    }
    .card-blog .card-title {
        font-size: 1.3rem;
        margin-top: .6rem;
    }
    .card-blog .card-description {
        color: #4e4e4e;
        max-height: 100px;
        height: 100px;
        overflow: hidden;
    }
    .card-footer {
        padding: .75rem 1.25rem;
        background-color: rgba(0,0,0,.03);
        border-top: 1px solid rgba(0,0,0,.125);
    }
    .card-footer:last-child {
        border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    }
    .card-blog .post-author {
        display: inline-block;
    }
    .card-blog .post-date {
        color: #4e4e4e;
        display: inline-block;
        float: right;
    }
    .avatar {
        width: 32px;
        height: 32px;
        margin-right: 4px;
        overflow: hidden;
    }

    @media (min-width: 767px){
        .card-blog {
            margin-bottom: 3rem;
        }
    }
</style>
