<template>
    <!-- bloglist --> 
        <div class="box-comments">
            <div class="title-box-2">
              <h4 class="title-comments title-left">Comments (34)</h4>
            </div>
            <ul class="list-comments">
              <li>
                <div class="comment-avatar">
                  <img src="img/testimonial-2.jpg" alt="">
                </div>
                <div class="comment-details">
                  <h4 class="comment-author">Oliver Colmenares</h4>
                  <span>18 Sep 2017</span>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores reprehenderit, provident cumque
                    ipsam temporibus maiores
                    quae natus libero optio, at qui beatae ducimus placeat debitis voluptates amet corporis.
                  </p>
                  <a href="3">Reply</a>
                </div>
              </li>
              <li>
                <div class="comment-avatar">
                  <img src="img/testimonial-4.jpg" alt="">
                </div>
                <div class="comment-details">
                  <h4 class="comment-author">Carmen Vegas</h4>
                  <span>18 Sep 2017</span>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores reprehenderit, provident cumque
                    ipsam temporibus maiores
                    quae natus libero optio, at qui beatae ducimus placeat debitis voluptates amet corporis,
                    veritatis deserunt.
                  </p>
                  <a href="3">Reply</a>
                </div>
              </li>
              <li class="comment-children">
                <div class="comment-avatar">
                  <img src="img/testimonial-2.jpg" alt="">
                </div>
                <div class="comment-details">
                  <h4 class="comment-author">Oliver Colmenares</h4>
                  <span>18 Sep 2017</span>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores reprehenderit, provident cumque
                    ipsam temporibus maiores
                    quae.
                  </p>
                  <a href="3">Reply</a>
                </div>
              </li>
              <li>
                <div class="comment-avatar">
                  <img src="img/testimonial-2.jpg" alt="">
                </div>
                <div class="comment-details">
                  <h4 class="comment-author">Oliver Colmenares</h4>
                  <span>18 Sep 2017</span>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores reprehenderit, provident cumque
                    ipsam temporibus maiores
                    quae natus libero optio.
                  </p>
                  <a href="3">Reply</a>
                </div>
              </li>
            </ul>
          </div> 
    <!-- bloglist -->
</template>

<script>
    export default {
        name: 'blogcomments', 
        props: ['blogData'],
        mounted() { 
            //console.log(this.blogData);
            //IF NOT LOGED IN REDIRECT TO LOGIN PAGE
            if(!sessionStorage.getItem('user')){
              this.$router.push('login'); 
            }

        },
        methods:{
          getimagename: function(img){
            if(typeof img !== 'undefined'){
              let imagename = img.slice(1, -1); 
              return imagename;
            }
          }
        }
    }
</script> 

<style scoped>
@media (min-width: 768px){
  .post-box, .form-comments, .box-comments, .widget-sidebar {
        padding: 3rem;
        background-color: #fff;
        margin-bottom: 3rem;
  }
}
.comments, .widget-sidebar {
    padding: 2rem;
    background-color: #fff;
    margin-bottom: 3rem;
}
.title-box-2 {
margin-bottom: 3rem;
}
.title-left {
    font-size: 2rem;
    position: relative;
}
.title-left:before {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
}
.ul-resect, .socials ul, .list-ico, .blog-wrapper .post-meta ul, .box-comments .list-comments, .widget-sidebar .list-sidebar, .widget-tags ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.box-comments .list-comments li {
    padding-bottom: 40px;
}
.box-comments .list-comments .comment-avatar {
    display: table-cell;
    vertical-align: top;
}
.box-comments .list-comments .comment-avatar img {
    width: 80px;
    height: 80px;
}
.box-comments .list-comments .comment-details {
    display: table-cell;
    vertical-align: top;
    padding-left: 25px;
}
.box-comments .list-comments .comment-author {
    font-size: 1.3rem;
}
.box-comments .list-comments span {
    color: #1e1e1e;
    font-style: italic;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.box-comments .list-comments a {
    color: #0078ff;
}
</style>
