<template>
    <!-- bloglist -->
    <div class="container">
        
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  WALL
                </h3>
                <p class="subtitle-a">
                  ALL Created Blogs Are listing here in last one first format.
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <router-link to="/addblog" class="btn btn-md btn-info pull-right btn-add-new">Add New Blog</router-link>
            </div>
          </div>


            <div class="row"> 
             
              <!-- BLOG LIST ITEM -->
              <Bloglistitem v-for="(Blog, index) in BlogLists" :key="index" :blogData="Blog" ></Bloglistitem>

            </div>
    </div>

    </div>
    <!-- bloglist -->
</template>

<script>
    
   import Bloglistitem from '../blog/Bloglistitem.vue';

    export default {
        name: 'home', 
        data: function () {
          return {
            BlogLists:[],
          }
        },
        mounted() { 
            let self   = this;
            let userData = '';   

            //IF NOT LOGED IN REDIRECT TO LOGIN PAGE
            if(!sessionStorage.getItem('user')){
              this.$router.push('login'); 
            } 
             

            //GET LIST OF BLOGS FROM BACKED
            axios.get('/api/blogcurd/')
              .then(response => {
                
                if(typeof response.data.errors != 'undefined'){
                  self.formErrors = response.data.errors; 
                }else{
                  //console.log(response.data);
                    self.BlogLists = response.data.data; 
                }
              })
              .catch(error => {
                console.log(error); 
              });

        },
        components:{
          Bloglistitem,
        }
    }
</script> 

<style scoped>
    .container{
      margin-bottom: 70px;
    }
    .btn-add-new{
     margin: 20px auto; 
    }
    .title-box {
        margin-bottom: 4rem;
    }
    .title-a {
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    .line-mf {
        width: 40px;
        height: 5px;
        background-color: #0078ff;
        margin: 0 auto;
    }
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }
    .card-img {
        width: 100%;
        border-radius: calc(.25rem - 1px);
    }
    .img-fluid {
        max-width: 100%;
        height: auto;
    }

    img {
        vertical-align: middle;
        border-style: none;
    } 

    .card-blog .card-body {
        position: relative;
    }
    .card-blog .card-category-box {
        position: absolute;
        text-align: center;
        top: -16px;
        left: 15px;
        right: 15px;
        line-height: 25px;
        overflow: hidden;
    }
    .card-blog .card-category {
        display: inline-block;
        color: #fff;
        padding: 0 15px 5px;
        overflow: hidden;
        background-color: #0078ff;
        border-radius: 4px;
    }
    .card-blog .card-category .category {
        color: #fff;
        display: inline-block;
        text-transform: uppercase;
        font-size: .7rem;
        letter-spacing: .1px;
        margin-bottom: 0;
    } 
    .card-title {
        margin-bottom: .75rem;
    }
    .card-blog .card-title {
        font-size: 1.3rem;
        margin-top: .6rem;
    }
    .card-blog .card-description {
        color: #4e4e4e;
        max-height: 100px;
        height: 100px;
        overflow: hidden;
    }
    .card-footer {
        padding: .75rem 1.25rem;
        background-color: rgba(0,0,0,.03);
        border-top: 1px solid rgba(0,0,0,.125);
    }
    .card-footer:last-child {
        border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    }
    .card-blog .post-author {
        display: inline-block;
    }
    .card-blog .post-date {
        color: #4e4e4e;
        display: inline-block;
        float: right;
    }
    .avatar {
        width: 32px;
        height: 32px;
        margin-right: 4px;
        overflow: hidden;
    }

    @media (min-width: 767px){
        .card-blog {
            margin-bottom: 3rem;
        }
    }
</style>
