<template>
    <!-- Footer -->
    <footer class="page-footer font-small blue navbar-fixed-bottom">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> Pages</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</template>

<script>
    export default {
        mounted() {
            //console.log('Footer Component mounted.')
        }
    }
</script>
