<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
        <a class="navbar-brand" href="#">Blogs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <router-link to="/home" class="nav-link" >Wall <span class="sr-only">(current)</span></router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/bloglist" class="nav-link" href="#">My Blogs</router-link>
                </li> 
                <!-- <li class="nav-item">
                   <router-link to="/aboutus" class="nav-link" href="#">About-us</router-link>
                </li> -->
            </ul>
            <!-- <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </form> -->
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span v-if="userName" class="text-white">Welcome <b class="text-uppercase">{{userName}}</b> &nbsp;&nbsp;</span><img :src="profileImagepath" width="40" height="40" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <!-- <a class="dropdown-item" href="#">Dashboard</a> -->
                    <router-link class="dropdown-item" to="/profile">Profile</router-link>
                    <a class="dropdown-item" href="#" v-on:click="logout()">Log Out</a>
                    </div>
                </li> 
            </ul>
        </div>
    </nav>
</template>

<script>
    export default {
        name: 'Header',
        data: function () {
			return { 
                profileImagepath:'',
                userName:'',
            }  
        },
        mounted() {
            this.getimagepath();
        },
         watch: {
          '$route' (to, from) {
            let self = this; 
            self.getimagepath();
          }
        }, 
        methods: { 
            getimagepath: function(){ 
              let self     = this; 
              let User     = JSON.parse(sessionStorage.getItem('user'));
 
               
                if(User !== null && User.images == ''){
                    self.profileImagepath =  '/images/profile/reg-icon.jpg';
                }else if(User !== null && User.images.length>=1){ 
                    self.profileImagepath =  '/images/profile/'+User.images;
                    self.userName         = User.name;
                } 
            }, 
			
			logout: function(){  

                //REMOVE USER DATA FROM SESSION STORAGE
                sessionStorage.removeItem('user');

                //Redirecting TO THE HOME PAGE
                this.$router.push({'path':'/login'});   
            }
        }
    }
</script>
